.HomePage {
    width: 70%;
    margin: auto;
    .AboutSection {
        display: grid;
        row-gap: 1em;
        hr {
            width: 100%;
        }
        .QuoteLeft {
            display: grid;
            grid-template-areas: "quote descr";
            grid-template-columns: 30% 70%;
            h3 {
                padding: 0 1em;
                grid-area: quote;
            }
            span {
                grid-area: descr;
                align-self: center;
                font-size: 20px;
            }
        }
        .QuoteRight {
            display: grid;
            grid-template-areas: "descr quote";
            grid-template-columns: 70% 30%;
            h3 {
                grid-area: quote;
            }
            p {
                grid-area: descr;
            }
        }
    }
}
// Smaller screen
@media screen and (max-width: $smallerScreen) {
    .HomePage {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding-bottom: 5em;
        .AboutSection {
            .QuoteLeft {
                display: grid;
                grid-template-areas:
                    "quote"
                    "descr";
                grid-template-columns: 90%;
                justify-content: center;
                h3 {
                    grid-area: quote;
                    text-align: center;
                    justify-self: center;
                    padding: 0;
                    font-size: 17px;
                }
                span {
                    grid-area: descr;
                    justify-self: center;
                    font-size: 15px;
                }
            }
        }
    }
}
// Big monitors
@media screen and (min-width: 1400px) {
    .HomePage {
        width: 50%;
    }
}
