@import "../utilities/variables";

.MortgagePage {
    width: 70%;
    margin-top: 1em;
    padding-bottom: 2em;
    width: 960px;
    margin: auto;
    .TextSection {
        display: flex;
        justify-content: center;
        flex-direction: column;
        span {
            font-size: 20px;
            margin: auto;
        }
        hr {
            width: 100%;
            margin: 2em 0;
        }
    }
    .Calculator {
        padding-top: 2em;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
        a {
            width: 100%;
            background: #007bbe;
            color: #fff;
            text-align: center;
            font-weight: bold;
            display: block;
            clear: both;
            padding: 3px 0;
            font-size: 12px;
            text-transform: uppercase;
            font-family: arial;
            text-decoration: none;
            cursor: pointer;
            margin-top: -32px;
            position: absolute;
        }
    }
}
// Smaller screen
@media screen and (max-width: $smallerScreen) {
    .MortgagePage {
        width: 90%;
        .TextSection{
            h3{
                font-size: 17px;
            }
            span{
                font-size: 15px;
            }
        }
        p {
            font-size: 15px;
        }
        .Calculator {
            justify-content: center;
            a {
                margin-top: -35px;
            }
        }
    }
}
