@import "../utilities/variables";

.RealEstatePage {
    width: 70%;
    margin: auto;
    padding-bottom: 3em;
    .Content {
        margin-top: 3em;
        display: grid;
        hr {
            width: 100%;
            margin: 3em 0;
        }
        .QuoteLeft {
            display: grid;
            grid-template-areas: "quote descr";
            grid-template-columns: 30% 70%;
            h3 {
                grid-area: quote;
            }
            span {
                grid-area: descr;
                font-size: 20px;
            }
        }
    }

    .EstateContactLink {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4em;
        width: 134px;
        margin: auto;
        text-decoration: none;
    }
}
// Smaller screen
@media screen and (max-width: $smallerScreen) {
    .RealEstatePage {
        width: 90%;
        .Content {
            .QuoteLeft {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h3 {
                    margin: 0 0 1em 0;
                    grid-area: quote;
                    text-align: center;
                    font-size: 17px;
                }
                span {
                    grid-area: descr;
                    justify-self: center;
                    font-size: 15px;
                }
            }
        }
    }
}
// Big monitors
@media screen and (min-width: 1400px) {
    .RealEstatePage {
        width: 50%;
    }
}
