@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import "components/index.scss";
@import "pages/index.scss";

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.App {
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    position: relative;
}

hr {
    width: 100%;
    margin: 3rem 0;
}