$companyColorB: #007bbe;
$companyColorG: #b0d470;

.PageStyles {
    img {
        // Adds gradient to bottom of page pictures
        mask-image: linear-gradient(to top, transparent 0%, white 50%);
    }
}

.HomePage {
    width: 70%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    img {
        margin: auto;
    }
}

.RealEstatePage {
    width: 70%;
    margin: auto;
    .Heading {
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }
}
.Quote {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 35px;
}

.EstateContactLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 134px;
    margin: auto;
    text-decoration: none;
}

.AboutPage {
    width: 70%;
    margin: auto;
    margin-bottom: 2em;
    p {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .Pictures {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .Profile {
            border: solid;
            border-color: rgba(71, 70, 70, 0.342);
            border-width: 1px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 300px;
            }
        }
    }
}

.ContactPage {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 90%;
    display: flex;
    justify-content: space-around;
    .BorderForm {
        padding: 3em;
        border: solid;
        border-color: rgba(71, 70, 70, 0.342);
        border-width: 1px;
        .FormDiv {
            width: 26em;
            .Paragraph {
                color: #767679;
            }
            .FormClass {
                input {
                    margin: 5px 0 20px 0;
                    width: 26em;
                }
                textarea {
                    width: 26em;
                }
            }
            .EmailSubmit {
                width: 26em;
            }
        }
    }

    .MoreInfo {
        .ContactDetailsTitle {
            margin-bottom: 2px;
            font-weight: bold;
        }
        .Paragraph {
            color: #767679;
        }
    }
}

// Mobile devices
@media screen and (max-width: 1000px) {
    .HomePage {
        display: flex;
        flex-direction: column;
        padding-bottom: 5em;
        .AboutArticle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .ContactButton {
                margin-top: 1em;
                margin-bottom: 2em;
            }
        }
    }
    .RealEstatePage {
        .Heading {
            font-size: 20px;
            text-align: center;
        }
    }
    .Quote {
        font-size: 25px;
    }
    .ContactPage {
        flex-direction: column;
        align-items: center;
        .MoreInfo {
            text-align: center;
            margin-top: 2em;
        }
    }
}

// Big monitors
@media screen and (min-width: 1400px) {
    .HomePage {
        width: 50%;
    }
    .RealEstatePage {
        width: 50%;
    }
    .Quote {
        width: 70%;
    }
}
