$companyColorB: #007bbe;
$companyColorG: #b0d470;

.realEstatePage {
    width: 70%;
    margin: auto;
    .pHeading {
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }
}
.quote {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 35px;
}

.estateContactLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 134px;
    margin: auto;
    text-decoration: none;
}

.contactPage {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.formDiv {
    width: 28em;
    padding: 1em;
    border: solid;
    border-color: rgba(71, 70, 70, 0.342);
    border-width: 1px;
    .formClass {
        input {
            margin: 5px 0 20px 0;
            width: 26em;
        }
    }
    .emailSubmit {
        width: 26em;
    }
}

// Mobile devices
@media screen and (max-width: 800px) {
    .realEstatePage {
        .pHeading {
            font-size: 20px;
            text-align: center;
        }
    }
    .quote {
        font-size: 25px;
    }
    .contactPage {
        flex-direction: column;
        align-items: center;
    }
}

// Big monitors
@media screen and (min-width: 1400px) {
    .realEstatePage {
        width: 50%;
    }
    .quote {
        width: 70%;
    }
}
