@import "~bootstrap/scss/bootstrap";

$companyColorB: #007bbe;
$companyColorG: #b0d470;

.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Link-List {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .Link:hover {
        background: $companyColorG;
        transition-duration: 0.5s;
    }
}
.Nav-Home {
    padding-top: 5px;
    width: 167px;
}
.Nav-Mobile-Header {
    display: none;
    position: absolute;
    cursor: pointer;
}
.ArticleStyle {
    margin-bottom: 1em;
}

.ContactButton {
    background: $companyColorB;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
}

.ContactButton:hover {
    background: $companyColorG;
    transition-duration: 0.5s;
}

.FooterClass {
    background: $companyColorB;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding-left: 1em;
    img {
        max-width: 100px;
        user-select: none;
    }
    p {
        color: white;
        margin-bottom: 0;
        font-size: 15px;
    }
    z-index: -1;
}

.ArticleDiv {
    margin-top: 2em;
    margin-right: 1em;
}

// Mobile Devices
@media screen and (max-width: 1000px) {
    // Removes link buttons from header
    .NavBar a:not(:first-child) {
        display: none;
    }
    // Make hamburger appear
    .Nav-Mobile-Header {
        position: relative;
        display: inline-block;
    }
    // New class for navbar
    .NavBarResponsive {
        .Nav-Mobile-Header {
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .Link-List {
            width: 100%;
            .Link {
                display: block;
                text-align: center;
                padding: 12px 16px;
                margin: auto;
            }
            .Link:hover{
                width: inherit;
            }
        }
    }
    .Link-List {
        width: 20em;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: auto;
        .Link {
            display: none;
        }
    }
    .ArticleDiv {
        margin-right: 0;
        .Heading {
            text-align: center;
        }
    }
}
