@import "~bootstrap/scss/bootstrap";

$companyColorB: #007bbe;
$companyColorG: #b0d470;

.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 20px 30px 20px 30px;
}
.Link-List {
    width: 60em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .Link {
        position: relative;
        text-decoration: none;
        color: black;
    }
    .Link.active:before {
        content: "";
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $companyColorB;
        visibility: visible;
        transform: scaleX(1);
    }

    .Link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $companyColorB;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }
    .Link:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }
}

.Nav-Home {
    padding-top: 5px;
    width: 167px;
}
.Nav-Mobile-Header {
    display: none;
    position: absolute;
    cursor: pointer;
}
.ArticleStyle {
    margin-bottom: 1em;
}

.ContactButton {
    background: $companyColorB;
    color: white;
    border: none;
    width: 145px;
    padding: 10px 20px 10px 20px;
}

.ContactButton:hover {
    background: $companyColorG;
    transition-duration: 0.5s;
}

.FooterClass {
    background: $companyColorB;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding-left: 1em;
    img {
        max-width: 100px;
        user-select: none;
    }
    p {
        color: white;
        margin-bottom: 0;
        font-size: 15px;
    }
    z-index: -1;
}

.ArticleDiv {
    margin-top: 2em;
    margin-right: 1em;
}

// Mobile Devices
@media screen and (max-width: 1000px) {
    // Removes link buttons from header
    .NavBar {
        a:not(:first-child) {
            display: none;
        }
    }
    // Make hamburger appear
    .Nav-Mobile-Header {
        position: relative;
        display: inline-block;
    }
    // New class for navbar
    .NavBarResponsive {
        margin-bottom: 1em;
        .Nav-Mobile-Header {
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .Link-List {
            width: 100%;
            .Link {
                display: block;
                text-align: center;
                padding: 12px 16px;
                margin: auto;
            }
            .Link:hover {
                width: inherit;
                background: $companyColorG;
                transition-duration: 0.5s;
            }
        }
        .Link {
            display: block;
            text-align: center;
            margin: auto;
            text-decoration: none;
        }
    }
    .Link-List {
        width: 20em;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: auto;
        .Link {
            display: none;
        }
    }
    .ArticleDiv {
        margin-right: 0;
        .Heading {
            text-align: center;
        }
    }
}
